*{
    margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
}
ul{
    list-style-type: none;
 

}
li{
    display: block;
    font-size: 1.5em;
}
a{
    text-decoration: none;
    color: white;
}

p{
    letter-spacing: 2px;
    font-size: 1.5em;
}
h1{
    letter-spacing: 3px;
    text-align: center;
    font-size: 3em;
}
img{
    height: 60%;
    width: 100%;
}
body{
    height: auto;
    width: 100%; 
}
.home{
    height: auto;
    width: 100%; 
    
}
a{
    color: white;
}
a:hover{
    color: black;
}
.nav-item.home a:hover,.nav-item.products a:hover,.nav-item.contact a:hover{
    color: black;
}
.logo{
    margin: 20px;
    font-size: 1.5em;
    text-transform: capitalize;
    font-weight: 600;

}
.logo span{
    color: rgb(17, 180, 235);
    text-transform: capitalize;

}

.hamburger{
    position: fixed;
    right: 0px;
    top: 0px;
    margin: 20px 0;
    padding-right: 20px;
    font-size: 1.8em;
    cursor: pointer;
}
.cart-icon{
    position:fixed;
    z-index: 10;
    top:15px;
    right:40px ;
    padding-right: 20px;
    font-size: 1.8em;
    cursor: pointer;
    color: goldenrod;
}
.cart-icon sup{
    display: inline-block;
    color: black;
    font-weight: 500;
    font-size: 0.6em;
    background-color: green; 
    height: 20px;
    width: 20px; 
    padding-left: 5px;
    padding-top:2px ;
    border-radius: 50%;
   background-color:  goldenrod;
   color: white;
}
.cart-icon.open{
    color: blue;
}
.nav-items{
    position:fixed;
    top: 0;
    right: 0;
    margin-top: 100px; 
    background-color: black;
    padding-top: 30px;
    padding-bottom:30px ;
    width: 0px;
    right: -100px;
    border-radius: 20px;
    transition: width 0.5s linear;
    z-index: 5;

        
}
.show{
  width:340px;
}
.nav-item{ 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 60px;
    padding-left: 40px;
    color: white;
    text-transform: capitalize;
    margin: 10px 0;
    cursor:pointer;
}
.nav-item:hover{
background-color: white;
color: black; 

}
.sign-in-with div a{
    display: inline-block;
    margin : 20px;
    color: blue;
    font-size: 1.5em;
}
.sign-in-with div a:hover{
    color:lightblue;
}


/* login  */

.login-modal{
    height: 250px;
    width: 100%;
    max-width: 400px;
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 1.5em;
  color: white;
  padding-top: 10px;
  display: none;
  z-index: 10;
}
.login-modal div {
    margin: 20px;
    padding: 10px 0;
}
.login-modal .remove-modal{
    margin: 0;
    padding :0;
    position: absolute;
    right: 10px;
    font-size: 1.3em;
    cursor: pointer;
}
input:not(input[type="radio"]){
font-size: 1.1em;
height: 35px;
width: 200px;
padding-left:20px ;
border: none;
outline: none;
border-radius: 10px;
}
.login-modal div:last-child{
    margin: auto;
    height: 40px;
    width: 250px;
    border-radius: 20px; 
}
button[type="submit"]{
height: 40px;
width: 100%;
border: none;
outline: none;
font-size: 1.2em;
display: inline-block;
text-align: center;
border-radius: 20px;
background-color: black;
opacity: 0.7;
color: white;
padding-bottom: 15px;
letter-spacing: 3px;
cursor: pointer;


}
button:hover{
    opacity: 1;
}
/* showing login modal dynamically */
.show-login-modal{
    display: block;

}
.body-background-blur  {
  
    background-color: rgb(129, 123, 123);
}



/* styling products page */

.product{
    height: auto;
    width: 100%;
}
.products h1{
    text-align: center;
    margin: 30px 0px;
    height: auto;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-size: 3em;
}
.products h1 span{
    color: rgb(14, 179, 235);
}
.products-collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
}
.product{
    height: 300px;
    width: 300px;
    margin: 10px; 
    box-shadow: 3px 3px 20px rgb(83, 83, 83);
    cursor: pointer;
    position: relative;
    transition:  all 0.5s linear;
 }
 .product:hover{
     transform: scale(1.05);
 }
 .price,.name,.rating {
     text-align: center;
     margin: 5px 0;
     text-transform: capitalize;
     
 }

 /* top products */
  .top-products{
      height: 350px;
      width: 100%;
      max-width: 450px; 
      position:relative;
      top: 50%;
      left: 50%;
      transform:translate(-50%,-0%);
      margin:30px 0;
      border-radius: 20px;
      z-index: -5; 
      overflow: hidden;
      border: 1px solid black;
  }
  .top-product{
      
    transition: all 2s linear;
  }
  .home h1{
      margin-top:50px;
      display: none;
  }
  .home h1 span{
     color: rgb(6, 189, 250);
   
  }
  
  .top-product{
     display: inline-block;
     position: absolute;
     height: 100%;
     width: 100%;  
     cursor: pointer;
 } 
 .sliders i {
    opacity: 1;
    font-size: 2em;
    cursor: pointer;
    border: 1px solid black;
    display: inline-block;
    margin: 5px 10px;
    padding: 10px;
    color: white;
    background-color: rgb(7, 189, 250);
}
.sliders i:hover {
font-size: 2.1em;
cursor: pointer;
}
.sliders{
    height: 60px;
    width: 200px;
    margin:auto;
    padding-left:20px;
}
/* cart styling */
.cart{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height:auto;
    min-height: 250px;
    width: 100%;
    max-width: 400px; ;
    margin: auto;
    border-collapse: collapse;
    padding: 50px;
    z-index: 20;background-color: white;
    box-shadow: 5px 5px 20px rgb(31, 11, 11);
    transition: height 2s linear;
  overflow: auto;
}

.cart table{
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
    overflow: auto;
}
td{
    text-align: center;
    text-transform: uppercase;
}
th{
    
    font-weight: 600;
    font-size: 1.3em;
}
table,td,tr{ 
     

}
.cart table tr{
    height: 50px;
    width: 100%;
}
.show-cart{
    display: block;
}
.cart table tr td i {
    margin-left: 40px;
    color: red;
    font-size: 1.3em;
    cursor: pointer;
}
.total-section{
    font-family: cursive;
    font-size: 1.4em;
    font-weight: bold;
    position: absolute;
    bottom:70px; 
    left: 30%;
    width: 200px; 
}
.total-section span{
    margin: 10px;
}
 
.product-label {
    height: 50px;
    width:  0px;
    position: absolute;
    top: 40%;
    right:0;
    background-color: rgba(250, 126, 10, 0.911);
    transition: width 0.2s linear;
    text-align: center;
    overflow: hidden;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 10px;
    border-radius: 5px;
    color: white;
}  
  .show-label{
    width: 160px;
}
.payment-gateways{  
    position: absolute;
    bottom: 10px;
    margin: auto;
}
.payment-gateways p{
    font-size: 1em;
    text-align: center;
}
.payment-gateways i{
    font-size: 1.3em;
    margin: 0 10px;
    cursor: pointer;
   color: rgba(250, 126, 10, 0.911);
}

/* //contact page styling */



.contact{ 
    margin-top: 40px;
    height:auto;
    width: 100%;
} 
.contact h1{
    text-align: center;
    color:rgb(15, 159, 226);
    font-family: sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    margin-top: 20px;
    
}
.contact h2{
    text-align: center;
    color:black;
    font-family: sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    margin-top: 20px;
    
}
.form{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 20px  ;
    border: 2px solid black;
    padding: 10px;
    
    height: auto;
    width: auto;
    
    max-width: 600px;
}


.form-field{
    margin:10px;
}
.contact label{
    font-size: 1.3em;
    font-weight: 700;
    margin: 10px;
    display: inline-block;
    text-transform: capitalize;
    padding-right:10px;
}
.contact input:not(input[type="radio"]){
height: 30px;
width: 200px;
border: 1px solid black;
border-radius: 10px; 
outline: none;
font-size: 1.1em;
}
.form-field.feedback{
    margin-top:40px ;
}
.feedback label{
    display: inline-block;
}

textarea{
    display: inline-block;
    margin-top:10px ;
    resize:none;
    height: 100px;
    width: 200px;
    padding-left: 30px;
    margin :20px 30px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    font-size: 1.6em;

}
.contact input:focus{
border:5px solid rgb(78, 78, 134);
background-color: rgb(208, 224, 233); 
transform: scale(1.01);
}
input[type="submit"]{
    display: inline-block;
    width: 50px;
    height: 40px;
    text-align: center;
    background-color: rgb(63, 198, 243);
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    padding-right: 20px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: rgb(1, 188, 250);
}

